.AppContainer {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.loadingContainer {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 5;
  align-items: center;
  padding: 00px 0px;
}

.googleSignIn {
  width: 25%;
  filter: drop-shadow(8px 8px 5px #bebebe) drop-shadow(-8px -8px 5px #fff)
}

a {
  font-family: "lato";
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

p {
  font-family: "lato";
  font-size: 1em;
  font-weight: 300;
  color: white;
}

.title {
  padding: 30;
}

.toolbar {
  position: fixed;
}

.mealPlanContainer {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px;
}

.button {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 0px 0px;
}

.button:hover,
.mealPlanContainer:hover {
  opacity: 0.5;
  cursor: pointer;
}