body::-webkit-scrollbar {
  display: none;
}


.AppContainer {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.loadingContainer {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 5;
  align-items: center;
  padding: 0px 0px 20px 0px;
  /* border: 1px solid red; */
}

.splash-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -99;
  background-position: top;
  background-size: 100% auto;
  height: 500px;
  /* filter: blur(8px); */
}

.googleSignIn {
  width: 25%;
  filter: drop-shadow(8px 8px 5px #bebebe) drop-shadow(-8px -8px 5px #fff)
}

a {
  font-family: "lato";
  font-size: 1em;
  font-weight: 600;
  text-decoration: none !important;
  color: white !important;
}

p {
  font-family: "lato";
  font-size: 1em;
  font-weight: 300;
  color: white;
}

.title {
  padding: 30;
}

.toolbar {
  position: fixed;
}

.mealPlanContainer {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px;
}

.button {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 0px 0px;
}

.button:hover,
.mealPlanContainer:hover {
  opacity: 0.5;
  cursor: pointer;
}

.mealPlanTitle {
  font-family: "lato";
  font-size: 2em;
  font-weight: 600;
  color: black;
  width: 90%;
  padding: 10px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.mealPlanSection {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px;
}

.dayContainer {
  width: 100%;
}

.dayContainerTitle {
  padding: 5px;
  margin-bottom: 5px;
  font-family: "lato";
  font-size: 1.5em;
  font-weight: 600;
  color: white;

}

.mealContainer {
  border-radius: 5px;
  color: white;
  padding: 10px 5px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mealContainer:hover {
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.mealTitle {
  font-family: "lato";
  font-size: 1em;
  font-weight: 300;
  color: white;
  /* border: 1px solid red; */
  width: 20%;
  margin: 0px;
}

.divider {
  /* border: 0.25px solid white; */
  width: 0.5px;
  background-color: white;
  height: 2em;
  margin-right: 8%;
}

.mealContents {
  font-family: "lato";
  font-size: 1em;
  font-weight: 300;
  color: white;
  width: 80%;
  margin: 0px;
  /* text-align: right; */

  /* border: 1px solid blue; */

}

.mealPlanPreferenceQuestions {
  padding: 20px;
  color: black;
}

.row-divider {
  width: 1px;
  margin: 10px 0;
  background: black;
}