.App {
  /* height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: #e0e0e0; */
  /* padding: 30; */
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 5;
  align-items: center;
  padding: 30;
  /* width: min(80vw, 80vh);
  height: min(80vw, 80vh);
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 200ms; */
}

/* .container:hover {
  box-shadow: 20px 20px 60px #ffffff,
    -20px -20px 60px #bebebe;
} */

.googleSignIn {
  width: 25%;
  filter: drop-shadow(8px 8px 5px #bebebe) 
          drop-shadow(-8px -8px 5px #fff)
}

p {
  font-family: "lato";
  font-size: 1em;
  font-weight: 300;
}

.title {
  padding: 30;
}

.toolbar {
  position: fixed;
}